@media (width <= 1260px) {
  #about {
    flex-direction: column;

    .div--skills {
      a {
        width: calc(25% - 4px) !important;
      }
    }
    .div--about {
      p {
        font-size: 16px;
      }
    }
  }
}
