#about {
  flex-direction: row;
  align-items: stretch;

  .img-profile {
    // box-shadow: 2px 4px 3px rgba(0, 0, 0, .3);
    // border-radius: 12px;
    width: 260px;
    height: auto;
    object-fit: cover;
  }
  .div--skills {
    background-color: var(--color-white);
    flex: 1;
    padding: 4%;
    justify-content: center;
    align-items: center;
    align-content: center;

    nav {
      display: flex;
      flex-wrap: wrap;

      a {
        width: calc(20% - 4px);
        margin: 2px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;

        span {
          color: var(--color-gray);
          font-size: 14px;
          padding: 8px 0px;
        }
      }
    }
  }
  .div--about {
    box-shadow: 0px 0px 0.4px 0.1px var(--color-black);
    background-color: rgba(255, 255, 255, 0.05);
    // background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), transparent);
    // box-shadow: 2px 4px 4px 1px var(--color-black);
    // border-radius: 12px;
    // flex: 1;
    // padding: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: fit-content;
    margin: auto;
    padding: 30px;

    .div-infos {
      margin-left: 30px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h1 {
      color: var(--color-black);
      border-bottom: 0.1px solid #ccc;
      font-size: 32px;
      font-weight: 200;
      padding-bottom: 4px;
      // margin-bottom: 40px;
    }

    p {
      color: var(--color-black);
      font-size: 16px;
      padding-top: 20px;

      span {
        font-size: 16px;
        margin-bottom: 20px;
        display: block;
      }
    }

    nav {
      display: flex;
      justify-content: flex-end;
      gap: 4px;

      a {
        background-color: var(--color-black);
        color: var(--color-white);
        border: 1px solid var(--color-white);
        outline: 2px solid var(--color-black);
        font-size: 16px;
        padding: 6px 8px;
        margin: 4px;
        gap: 10px;
        text-decoration: none;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: var(--color-white);
          color: var(--color-black);
          border: 1px solid var(--color-black);
          outline: 2px solid var(--color-white);
        }
      }
    }
  }
}
