/*
@use "sass:math";

.typewriter span {
    color: gold;
    opacity: 0;
    transform: translateX(-10px);
    font-style: oblique;
    animation: typewriter 0.2s ease-out forwards;
    display: inline-block;
    // letter-spacing: 1rem;
    text-decoration: underline;
    text-shadow: 10px 10px 10px rgb(16, 101, 239);
    border-right: 10px solid rgb(51, 255, 10);
}

@for $i from 2 through 374 {
    .typewriter span:nth-of-type(#{-i}) { // remplacer les tirets - par des dollars
        -duration: math.div($i - 1, 30);
        // Utiliser l'interpolation pour ajouter "s" à la variable
        $duration-with-unit: #{-duration}s;
        animation-delay: -duration-with-unit;
    }
}

@keyframes typewriter {
    to {
        color: var(--color-white);
        opacity: 1;
        transform: translateX(0);
        font-style: normal;
        text-decoration: none;
        border-right: 0px;
        text-shadow: none;
    }
}
*/
