@use "sass:math";
/*.typewriter {
    font-family: monospace;
    color: #0000;
    background:
        linear-gradient(-90deg, #00dffc 5px, #0000 0) 10px 0,
        linear-gradient(#00dffc 0 0) 0 0;
    background-size: calc(var(--n) * 1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation:
        b 0.7s infinite steps(1),
        t calc(var(--n) * 0.3s) steps(var(--n)) forwards;
}
@keyframes t {
    from {
        background-size: 0 200%;
    }
}
@keyframes b {
    50% {
        background-position:
            0 -100%,
            0 0;
    }
}
*/

.typewriter {
}
.typewriter span {
    color: gold;
    opacity: 0;
    transform: translateX(-10px);
    font-style: oblique;
    animation: typewriter 0.2s ease-out forwards;
    display: inline-block;
    // letter-spacing: 1rem;
    text-decoration: underline;
    text-shadow: 10px 10px 10px rgb(16, 101, 239);
    border-right: 10px solid rgb(51, 255, 10);
}

@for $i from 2 through 374 {
    .typewriter span:nth-of-type(#{$i}) {
        $duration: math.div($i - 1, 30);
        // Utiliser l'interpolation pour ajouter "s" à la variable
        $duration-with-unit: #{$duration}s;
        animation-delay: $duration-with-unit;
    }
}

@keyframes typewriter {
    to {
        color: var(--color-white);
        opacity: 1;
        transform: translateX(0);
        font-style: normal;
        text-decoration: none;
        border-right: 0px;
        text-shadow: none;
    }
}
