:root {
    --colorWHITE: #fff;
    --colorBLACK: #000;
    /* --colorBLUE: linear-gradient(60deg,#003366,#111); */
    --colorBLUE: #003366;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
    vertical-align: top;
    text-rendering: optimizeLegibility;
    user-select: none;
}

*:focus {
    outline: none;
}

html {
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

.hidden {
    display: none !important;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    /* margin: 65.5px; */
    margin: 10px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 5px;
}

article:not(:first-child) {
    /* border:1px solid var(--colorBLUE); */
}

#div_infos {
    justify-content: space-between;
    flex-direction: row;
}

#div_infos img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 100% 20%;
}
#div_infos a{
    color: #003366;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    list-style: none;
    flex: 1;
}

ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul li h3 {
    color: var(--colorBLUE);
}

ul li span {
    font-size: 11px;
}

span.big_1 {
    font-size: 18px;
}

span.big_2 {
    font-size: 16px;
    padding: 30px 0px;
}

span.sp_sstitle {
    font-size: 12px;
    display: block;
    text-transform: none;
}

span.sp_date {
    color: #555;
    font-size: 10px;
    text-align: right;
}

span.sp_jobtitle {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}

.ul_entreprise {
    width: 300px;
    flex: 1 !important;
}

.ul_entreprise span {
    font-weight: bold;
}

.ul_entreprise_more {
    flex: 3;
}

.ul_entreprise_more {
    /* padding: 10px 0px; */
    padding: 5px 0px;
}

.blue {
    background: var(--colorBLUE);
    color: var(--colorWHITE);
}

.white {
    background: var(--colorWHITE);
    color: var(--colorBLUE);
}

.sp_title {
    font-size: 12px;
    flex: 1;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.sp_title, .div_row {
    padding: 5px;
}

.div_row, .li_title {
    display: flex;
    flex-direction: row;
}

.li_title {
    justify-content: space-between;
}

.div_column {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
}

#div_skills span, #div_hobbies span {
    text-align: center;
}