:root {
    --colorWHITE: #fff;
    --colorBLACK: #000;
    --colorMAIN: #fafafa;
    --colorGRAY: #ddd;
    --colorGREEN:#009688;
}

/* -- dark mode -- */

@media (prefers-color-scheme: dark) {
    body {
        /* --colorWHITE: #111;
        --colorBLACK: #aaa;
        --colorMAIN: #222;
        --colorGRAY: #000; */
        --colorWHITE: #16212b;
        --colorBLACK: #cecdcd;
        --colorMAIN: #1b1c23;
        --colorGRAY: #9fb9ce;
    }
}

/* -- all -- */

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    vertical-align: top;
    /* box-sizing: border-box; */
    /* user-select: none; */
    /* -webkit-appearance: none; */
}

*:focus {
    outline: none;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--colorWHITE);
}

p, a {
    color: var(--colorBLACK);
    font-weight: 300;
    font-family: "Heebo", Arial, Helvetica, sans-serif;
    /* text-align: justify; */
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

/* -- header -- */

header {
    border-bottom: 1px solid var(--colorGRAY);
    height: calc(15vh - 2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header button{
    background-color: var(--colorGREEN);
    color: var(--colorWHITE);
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
}
#p_name:first-letter {
    text-transform: capitalize;
}

#p_name {
    font-size: 30px;
}

#p_job {
    font-size: 14px;
}

/*--- footer ---*/

footer p {
    font-size: 12px;
}

/* -- main -- */

main {
    /* background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png"); */
    background-color: var(--colorMAIN);
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

/* -- ul_sudoku -- */

#ul_sudoku {
    width: calc(50% - 0px);
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin: auto;
}

#ul_sudoku li {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:calc(33.33% - 6px);
    margin:3px;
}

#ul_sudoku li p{
    border:1px solid #111;
    width:calc(33.33% - 2px);
    height: 8vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}
#ul_sudoku li p.empty{
    background:rgba(0,0,0,0.1);
    color:var(--colorGREEN);
}
/* -- animation -- */

.animateUp {
    opacity: 0;
    animation-name: animateUp;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    display: flex;
}

@keyframes animateUp {
    0% {
        transform: translateY(0px) translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px) translateX(0px);
        opacity: 1;
    }
}

/* -- mobile --*/

@media screen and (max-width: 800px) {
    header {
        border: 0px;
        height: 70vh;
    }
    main {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: calc(100% - 40px);
        height: 30vh;
    }
    aside img, aside div {
        display: none;
    }
    #ul_portfolio {
        width: 100%;
        padding: 0px;
    }
    #ul_portfolio li {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .div_portfolio {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        padding: 20px;
    }
}