:root {
    --colorWHITE: #fff;
    --colorBLACK: #000;
    --colorMAIN: #fafafa;
    --colorGRAY: #ddd;
    --colorBLUE: #039be5;
}

/* -- dark mode -- */

@media (prefers-color-scheme: dark) {
    body {
        --colorWHITE: #16212b;
        --colorBLACK: #cecdcd;
        --colorMAIN: #1b1c23;
        --colorGRAY: #9fb9ce;
    }
}

/* -- all -- */

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    vertical-align: top;
    color: var(--colorBLACK);
    font-weight: 300;
    font-family: "Heebo", Arial, Helvetica, sans-serif;
}

*:focus {
    outline: none;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

/* -- header -- */

header {
    background-color: var(--colorWHITE);
    border-bottom: 1px solid #ddd;
    height: calc(10vh - 2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header p{
    font-size: 40px;
    text-transform: uppercase;
}

footer {
    background-color: var(--colorWHITE);
    border-top: 1px solid #ddd;
    height: calc(10vh - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -- main -- */

main{    
    background-color: #eee;
    width:100vw;
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    transition: 0.4s;
}

main ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
main ul li{
    width:calc(20% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.square:hover{
    border: 10px solid var(--colorBLUE);
}
.square{
    border: 10px solid var(--colorWHITE);
    width: calc(100% - 20px);
    position: relative;
    transition: 0.4s;
}
.square:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

main ul li img{
    object-position: 50% 50%;
    transition: 0.6s;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.imgMove{
    object-position: 20% 50%;
}
main ul li p{
    background: linear-gradient(0deg, rgba(0,0,0,1),rgba(0,0,0,0.0));
    color:#fff;

    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;

    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height:25%;
}
main ul li audio{
    display: none;
}
/* -- mobile --*/

@media screen and (max-width: 800px) {
    header p{
        font-size: 20px;
    }
    main ul li{
        width:calc(50% - 40px);
    }
}