@import url("../../node_modules/bootstrap-icons/font/bootstrap-icons.css");

:root {
  --color-black: #2e314c;
  --color-white: #fff;
  --color-gray: #999;
  --color-grey: #aaa;
  --color-lightgray: #ddd;
  --color-black-one: #eee;
  --color-black-four: #fafafa;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;

  /* ---- darkMode ---- */
  &.dark {
    --color-black: #fff !important;
    --color-white: #2e314c !important;
    --color-grey: #000 !important;
    --color-black-one: #111 !important;
    --color-black-four: #444 !important;
  }

  body {
    background-color: var(--color-white);
    /* scroll-snap-type: y mandatory; */
  }

  section {
    position: relative;
  }

  main {
    margin: auto;
    min-height: 100vh;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // scroll-snap-align: start;
    // scroll-snap-stop: always;

    canvas {
      position: absolute;
    }
  }
}
