#contact {
  display: flex;
  flex-direction: column;
  position: relative;

  p {
    color: var(--color-black);
    font-size: 38px;
    font-weight: bold;
  }

  form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: calc(60% - 200px);

    div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 4px;

      span {
        color: var(--color-black);
        padding: 4px;
        display: inline-block;
      }

      #input-answer {
        padding: 10px;
        width: 100px;
      }

      button {
        background-color: var(--color-black);
        color: var(--color-white);
        border: 1px solid var(--color-white);
        outline: 2px solid var(--color-black);

        font-size: 16px;
        padding: 10px 20px;
        margin: 4px;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
          background-color: var(--color-white);
          color: var(--color-black);
          border: 1px solid var(--color-black);
          outline: 2px solid var(--color-white);
        }
      }
    }

    textarea {
      min-height: 100px;
      resize: vertical;
    }

    input,
    textarea {
      background-color: rgba(0, 0, 0, 0.05);
      border: 1px solid var(--color-lightgray);
      color: var(--color-black);
      font-size: 18px;
      padding: 20px;
      outline: none;

      &::placeholder {
        color: var(--color-gray);
      }
    }
  }
}
