#home {
    overflow: hidden;

    #div--down {
        opacity: 0;
        position: absolute;
        bottom: 80px;
        animation: scrollDown 2s linear infinite !important;
        animation-delay: 4s !important;

        a {
            color: var(--color-black);
            padding: 10px;
            font-size: 36px;
            text-decoration: none;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        font-size: 92px;
        text-align: center;
    }

    p {
        margin: 0 auto;
        width: 80%;
        text-align: center;

        b {
            background: -webkit-linear-gradient(260deg, #e91e63, #03a9f4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        span {
            color: var(--color-black);
            font-size: 56px;
            width: fit-content;
            justify-self: center;
        }

        #span--position {
            color: var(--color-gray);
            font-size: 36px;
        }

        .greetings {
            animation: greetings 2s linear infinite !important;
            transform: rotate(0deg);
            display: inline-block;
        }
    }

    @keyframes greetings {
        0% {
            opacity: 1;
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(40deg);
        }
        100% {
            opacity: 1;
            transform: rotate(0deg);
        }
    }

    @keyframes scrollDown {
        0% {
            opacity: 0.3;
            bottom: 80px;
        }
        50% {
            opacity: 1;
            bottom: 40px;
        }
        100% {
            opacity: 0.3;
            bottom: 80px;
        }
    }
}
