@media (width <= 660px) {
    main#home a {
        font-size: 40px;
    }
    main#home p {
        font-size: 22px;
    }
    #main-skeleton {
        img {
            width: 100%;
        }
    }
}
