@media (width <= 660px) {
    #home {
        a {
            font-size: 40px;
        }

        p {
            span {
                font-size: 22px !important;
            }
        }
        ul{
            li{
                margin:5px !important;
                padding: 5px !important;

                span{
                    -webkit-text-stroke: 2px var(--color-black) !important;
                    font-size: 40px !important;
                }
            }
        }
    }
}
