@media (width <= 1260px) {
    .li--card {
        width: calc(100% - 0px);
        padding: 0px;
        margin: 0px;
        height: 100vh;
        flex-direction: column !important;

        .div-infos{
            flex-direction: column-reverse;
        }
        .div-infos, .div-img{
            flex:1;
            width: auto;
        }
    }
}