.li--card {
  background: linear-gradient(120deg,rgba(128, 0, 128, 0.4),rgba(30, 143, 255, 0.4));
  width: calc(100% - 20%);
  margin: 10px 10%;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;


  /*&:hover {
    img {
      animation-name: zoomImg !important;
      animation-iteration-count: 1 !important;
      animation-duration: 5s !important;
      animation-fill-mode: forwards;
    }
    h2 {
      animation-name: zoomText !important;
      animation-iteration-count: 1 !important;
      animation-duration: 5s !important;
      animation-fill-mode: forwards;
    }
  }*/

  .div-img {
    // background-color: rgba(0,0,0,0.02);
    flex:1.5;
    // padding: 20px;
    // width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

    img {
      background-color: rgba(255,255,255,0.4);
      border:1px solid var(--color-white);
      box-shadow: 10px 10px 0px 0px #111;
      // max-width: 100%;
      width: fit-content;
      // width: 50%;
      // flex:1;
      object-fit: contain;
      justify-self: flex-start;
      align-self: center;
      vertical-align: top;
      margin:40px;
      padding: 20px;
      transform:scale(1);
      transition: transform 0.5s ease; 
    }
  }

  .div-infos {
    background-color: rgba(255,255,255,0.4);
    border:1px solid var(--color-white);
    flex:0.5;
    // background-color: var(--color-white);
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    ul {
      // background-color: var(--color-white);
      // border-bottom:1px solid var(--color-black);
      // position: absolute;
      // bottom: 0px;
      // left: 0%;
      // right: 0%;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;

      li{

        span {
          color: var(--color-black);
          padding:6px;
          font-size: 10px;
          text-transform: uppercase;
        }
      }
    }

    .div-infos-content{
      width: calc(60% - 0px);
      display: flex;
      flex-direction: column;
      gap:20px;
      flex:1;
      justify-content: center;

      h2 {
        color: var(--color-black);
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
        letter-spacing:normal;
        text-transform: uppercase;
        transition: letter-spacing 0.5s ease; 
      }

      p {
        color: var(--color-black);
        font-size: 16px;
      }

      nav {
        display: flex;
        gap:2px;

        .a-visit {
          &:hover{
            background-color: #2e7d32;
          }
        }
        
        .a-github {
          &:hover{
            background-color: #6a1b9a;
          }
        }

        a {
          background-color: var(--color-black);
          color: var(--color-white);
          flex: 1;
          font-size: 12px;
          padding: 10px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}

/*
@keyframes zoomText {
  0% {
      // opacity: 1;
      // transform: rotate(0deg);
      letter-spacing:normal;
  }
  100% {
      // opacity: 1;
      // transform: rotate(0deg);
      letter-spacing:2px;
  }
}

@keyframes zoomImg {
  0% {
      // opacity: 1;
      // transform: rotate(0deg);
      transform:scale(1);
  }
  100% {
      // opacity: 1;
      // transform: rotate(0deg);
      transform:scale(1.05);
  }
}*/