.li--card {
  width: calc(100% - 0px);
  height: calc(50vh - 0px);
  // margin-bottom: 1px;
  display: flex;

  // &:hover {

  //   .div-infos {
  //       animation-name: fade-text;
  //       animation-iteration-count: 1;
  //       animation-duration: 2s;
  //       animation-fill-mode: forwards ;
  //   }
  // }

  .div-img {
    background: linear-gradient(120deg,rgba(128, 0, 128, 0.4),rgba(30, 143, 255, 0.4));
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;

    img {
      background-color: rgba(255,255,255,0.4);
      border:1px solid var(--color-white);
      box-shadow: 10px 10px 0px 0px #111;
      max-height: (40vh);
      max-width: 90%;
      padding: 2vh;
      object-fit: contain;
      align-self: center;
    }
  }

  .div-infos {
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;

      li{

        span {
          color: var(--color-black);
          padding:6px;
          font-size: 10px;
          text-transform: uppercase;
        }
      }
    }

    .div-infos-content{
      width: calc(60% - 0px);
      display: flex;
      flex-direction: column;
      gap:20px;
      flex:1;
      justify-content: center;

      h2 {
        color: var(--color-black);
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
        letter-spacing:normal;
        text-transform: uppercase;
        transition: letter-spacing 0.5s ease; 
      }

      p {
        color: var(--color-black);
        font-size: 16px;
      }

      nav {
        display: flex;
        gap:2px;

        .a-visit {
          &:hover{
            background-color: #2e7d32;
          }
        }
        
        .a-github {
          &:hover{
            background-color: #6a1b9a;
          }
        }

        a {
          background-color: var(--color-black);
          color: var(--color-white);
          flex: 1;
          font-size: 12px;
          padding: 10px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}


/*
@keyframes fade-text {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes zoomText {
  0% {
      // opacity: 1;
      // transform: rotate(0deg);
      letter-spacing:normal;
  }
  100% {
      // opacity: 1;
      // transform: rotate(0deg);
      letter-spacing:2px;
  }
}

@keyframes zoomImg {
  0% {
      // opacity: 1;
      // transform: rotate(0deg);
      transform:scale(1);
  }
  100% {
      // opacity: 1;
      // transform: rotate(0deg);
      transform:scale(1.05);
  }
}*/