body {
  font-family: monospace !important;
}

p {
  margin: 0px !important;
}

.main-content {
  width: 50%;
}

header {
  backdrop-filter: blur(7px);
}

#particles-js {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;

  animation: reveal 10s ease-out forwards;
  opacity: 0;
  animation-delay: calc(0.1s * 20);
}

#home img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

#skills img {
  width: 30px;
  height: 30px;
}

.form-control::placeholder {
  color: #555;
}

@keyframes reveal {
  to {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    filter: blur(0px);
  }
}

.reveal-text {
  display: flex;
}

.reveal-text span {
  animation: reveal 0.5s ease-out forwards;
  opacity: 0;
  transform: translateX(0px) translateY(200px);
  filter: blur(4px);
}

.reveal-text span:nth-child(n) {
  animation-delay: calc(0.1s * var(--i));
}

.reveal-text span:empty {
  min-width: 0.5em;
}

.element {
  opacity: 0;
  animation: appearElement 0.5s ease-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes appearElement {
  from {
    opacity: 0;
    transform: translateX(0px) translateY(100px);
    filter: blur(4px);
  }
  to {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    filter: blur(0px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.75;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes scrollDown {
  from {
    opacity: 0.4;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

#a-scroll {
  opacity: 0;
  animation: linear infinite alternate scrollDown;
  animation-duration: 1s;
  animation-delay: 3s;
}

/* --- theme --- */
[data-bs-theme="dark"] .nav-item {
  text-shadow: 0px 0px 5px #000;
}
[data-bs-theme="dark"] .reveal-text {
  text-shadow: 0px 10px 15px #000;
}

[data-bs-theme="light"] .nav-item {
  text-shadow: 0px 0px 5px #fff;
}
[data-bs-theme="light"] .reveal-text {
  text-shadow: 0px 10px 15px #ccc;
}

/* --- mobile --- */
@media (max-width: 767.98px) {
  .main-content {
    width: 100%;
  }
}
