body {
  width: 40%;
  line-height: 1.6;
  margin: 0 auto;
  text-align: justify;
}

#nav-lang {
  display: flex;
  justify-content: end;
}
#nav-lang ul {
  list-style: none;
  display: flex;
}
#nav-lang ul li a {
  padding: 4px;
}

header {
  border-top: 1px dashed #000;
  display: flex;
  flex-direction: column;
  text-align: center;
}

article {
  border-top: 1px dashed #000;
}
article#about a {
  margin: 0 auto;
  padding: 10px;
  display: table;
  text-align: center;
}
article:last-child,
article h2,
#projects p {
  text-align: center;
}

@media (width <= 1024px) {
  body {
    width: 60%;
  }
}
@media (width <= 768px) {
  body {
    width: 80%;
    font-size: 14px;
  }
}
@media (width <= 480px) {
  body {
    width: fit-content;
    padding: 10px;
  }
}
