:root {
  --colorWHITE: #fff;
  --colorBLACK: #000;
  --colorMAIN: #fefefe;
  --colorGRAY: #ddd;
}

/* -- dark mode -- */
/* @media (prefers-color-scheme: dark) */
[data-theme="dark"] {
  --colorWHITE: #111;
  --colorBLACK: #ccc;
  --colorMAIN: linear-gradient(45deg, #222, #263238);
  --colorGRAY: #000;
}

@font-face {
  font-family: "InterR";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-collapse: collapse;
  vertical-align: top;
  /* font-family: "InterR", sans-serif; */
  font-family: monospace;
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: var(--colorMAIN);
}

p,
a {
  color: var(--colorBLACK);
  font-weight: 300;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.8em;
}

.hidden {
  opacity: 0.4 !important;
  filter: grayscale(1) blur(3px);
}

.box:hover {
  box-shadow: 2px 20px 20px var(--colorGRAY);
  top: -10px;
}

.box {
  box-shadow: 0px 1px 2px var(--colorGRAY);
  position: relative;
  top: 0px;
  transition: 0.3s;
}

/* -- header -- */
header {
  height: 15vh;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}

header p {
  text-align: center;
}

#p_name:first-letter {
  text-transform: capitalize;
}

#p_name {
  font-size: 30px;
}

#p_job {
  font-size: 14px;
}

#isDarkMode {
  display: none;
}

#lbDarkMode {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--colorBLACK);
  position: absolute;
  right: 20px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  /* box-shadow: inset 0px 0px 7px var(--colorGRAY); */
  border-radius: 100%;
}
#lbDarkMode img {
  width: 20px;
  height: 20px;
}
#lbDarkMode img:hover {
  animation-name: animateCircle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  display: flex;
}

.scrollDown {
  display: none;
  position: absolute;
  bottom: 100px;
  height: 20px;
}
/*--- footer ---*/
footer p {
  font-size: 12px;
}

/* -- main -- */
main {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
}

/* -- aside -- */
aside {
  width: calc(20vw - 60px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

aside .square {
  width: calc(70%);
}

aside #div_resume {
  margin-top: 50px;
}

#p_resume_title {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
}

#p_resume {
  font-size: 14px;
}
#hello-hand {
  display: inline-block;
  animation-name: animateHelloHand;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
#p_resume ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
#p_resume ul a {
  font-weight: bold;
  text-decoration: underline;
  font-style: oblique;
}

aside ul#list-contact {
  list-style: none;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#list-contact a,
#a_download_cv {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20px;
  height: 20px;
  border-radius: 0%;
}

aside #a_download_cv {
  background-color: rgba(255, 255, 255, 0.05);
  text-align: center;
  text-transform: uppercase;
  align-self: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* -- section -- */
section {
  width: 80vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

section article {
  display: flex;
  flex-direction: column;
}

#div_results {
  padding: 25px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#div_results p {
  font-size: 26px;
  font-weight: bold;
}
#div_results img {
  width: 90px;
}
/* -- ul_portfolio -- */
#ul_portfolio {
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
}

#ul_portfolio ul {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ul_portfolio ul li {
  border: 1px dotted var(--colorBLACK);
  font-size: 10px;
  margin: 2px;
  padding: 4px;
  text-transform: lowercase;
}

#ul_portfolio > li {
  width: calc(16.66% - 20px);
  margin: 10px;
}

#ul_portfolio li a {
  width: calc(100% + 20px);
}

/* -- div_portfolio -- */
.div_des {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.div_portfolio .square {
  display: none;
}

.div_portfolio {
  background-color: rgba(255, 255, 255, 0.05);
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.div_portfolio img {
  background-color: var(--colorWHITE);
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.div_portfolio .p_title {
  font-size: 18px;
  padding: 8px 0px;
  text-transform: capitalize;
  text-align: center;
}

.div_portfolio .p_des {
  border-top: 1px dashed #ddd;
  font-size: 12px;
}

/* -- animation -- */
.animateUp {
  opacity: 0;
  animation-name: animateUp;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: forwards;
  display: flex;
}

@keyframes animateUp {
  0% {
    transform: translateY(0px) translateX(100px);
    opacity: 0;
    border-radius: 0% 0% 100% 100% / 100% 0% 100% 0%;
  }

  100% {
    transform: translateY(0px) translateX(0px);
    opacity: 1;
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
  }
}

@keyframes animateHelloHand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
    scale: 1.1;
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animateScrollDown {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 110px;
    scale: 1.2;
  }
  100% {
    bottom: 100px;
  }
}
@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* sizes */
@media screen and (max-width: 1500px) {
  #ul_portfolio > li {
    width: calc(25% - 20px);
    margin: 10px;
  }
}

@media screen and (max-width: 1300px) {
  #p_name {
    font-size: 24px;
  }

  #p_resume {
    font-size: 12px;
  }
}

/* -- tablet --*/
@media screen and (max-width: 1000px) {
  #ul_portfolio > li {
    width: calc(50% - 20px);
    margin: 10px;
  }

  aside {
    width: calc(40vw - 62px);
  }
}

/* -- mobile --*/
@media screen and (max-width: 700px) {
  #lbDarkMode {
    /* display: none; */
    bottom: 40px;
    right: 0px;
    left: 0px;
    width: 20px;
    margin: auto;
  }

  header {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100svh;
  }

  .scrollDown {
    display: flex;
    animation-name: animateScrollDown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  main {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  aside {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: calc(100vw - 60px);
    height: calc(100svh - 60px);
    justify-content: center;
  }
  aside .square {
    width: calc(50%);
  }

  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100vw;
    height: 100dvh;
  }

  #ul_portfolio {
    width: 100%;
    height: 100dvh;
    padding: 0px;
  }

  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100dvh;
    position: relative;
  }
  .container::-webkit-scrollbar {
    display: none;
  }

  #ul_portfolio > li {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100dvh;
    width: calc(100%);
    margin: 0px;
    align-items: center;
  }
  .div_portfolio .p_des {
    text-align: center;
    font-size: 16px;
    padding: 20px;
  }
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    /* additional recommendation */
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
