@media (width <= 1260px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;

        div {
            justify-content: center !important;

            &#div--contact {
                order: 1;
            }

            &#div--links {
                order: 2;
            }

            &#div--copyright {
                order: 3;
            }
        }
    }
}
