#themeToggle {

    &:hover {
        background: var(--color-black);

        .moon, .sun { fill: var(--color-white); }
    }
    
    .moon, .sun { fill: var(--color-black); }
    .moon { display:block; }
    .sun { display:none; }
}

html.dark{
    .moon { display:none !important; }
    .sun { display:block !important; }
}