---
interface Props {
	title: string;
}
const { title } = Astro.props;
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';

import '@fortawesome/fontawesome-svg-core/styles.css'

import 'aos/dist/aos.css'; 
const anim = {
  old: {
    name: 'fadeIn',
    duration: '0.2s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeOut',
    duration: '0.3s',
    easing: 'linear',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
---
<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		 <!-- meta tags: HTML -->
		 <meta charset="UTF-8">
		 <title>{title}</title>
		 <meta name="author" content="Elmahdi KORFED" />
		 <meta name="title" content="Elmahdi KORFED">
		 <meta name="description" content="Elmahdi KORFED, développeur web France" />
		 <meta name="keywords" content="Elmahdi Korfed, Developer, Web, France" />
		 <meta name="viewport" content="width=device-width" />
		 <meta name="theme-color" content="#263238">
	   
		 <!-- meta tags: OPEN GRAPH -->
		 <meta property="og:type" content="website" />
		 <meta property="og:site_name" content="Elmahdi KORFED" />
		 <meta property="og:title" content="Elmahdi KORFED" />
		 <meta property="og:image" content="/assets/images/ek.jpeg" />
		 <meta property="og:description" content="Elmahdi KORFED, développeur web France" />
		 <meta property="og:url" content="https://elmahdik.github.io/" />
		 <meta property="og:locale" content="en_US" />

		<link rel="icon" type="image/svg+xml" href="/logo/icon_16.ico" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
	</head>
	<body>
		<!-- <main transition:animate={myFade}> -->
			<slot />
		<!-- </main> -->
	</body>
</html>

{/* Add a client side script for loading Font-Awesome */}
<script>
	// import the required functions and icons
	import { library, config, dom} from '@fortawesome/fontawesome-svg-core'
	import { faHouse, faInfo, faEnvelope, faUser, faBriefcase, faPaintRoller, faCode } from '@fortawesome/free-solid-svg-icons'

	// since we want astro to handle the css we should disable automatic css injection on the client
	// this is similar to other ssr frameworks like next.js or nuxt
	config.autoAddCss = false

	// create a subset of icons that you are going to use so
	// astro is able to tree shake and optimize the javascript bundle for best performance
	library.add(
		faHouse,
		faInfo,
		faEnvelope,
		faUser,
		faBriefcase,
		faCode,
		faPaintRoller
	);

	// replace the unprocessed icons with the svg and watch for additional icons
	dom.watch();
</script>
<script src="https://cdn.jsdelivr.net/npm/TagCloud@2.2.0/dist/TagCloud.min.js"></script>

<script> 
    import AOS from "aos"; 
    AOS.init();
</script>