---
import './style.scss';
import './style-mobile.scss';
import ThemeIcon from '../ThemeIcon.astro';
---
<div id="div--menu" data-aos="fade-up" data-aos-delay="2000" data-aos-duration="1000">
    <nav class="nav--bar">
        <a href="#home"><i class="fas fa-house"></i></a>
        <a href="#about"><i class="fas fa-user"></i></a>
        <!-- <a href="#skills"><i class="fas fa-code"></i></a> -->
        <a href="#portfolio"><i class="fas fa-paint-roller"></i></a>
        <a href="#contact"><i class="fas fa-envelope"></i></a>
        <ThemeIcon />
    </nav>
</div>