#div--menu {
  position: fixed;
  bottom: 90px;
  left: 0px;
  right: 0px;
  z-index: 200;
  margin: 0 auto;
  width: fit-content;
  
  .nav--bar {
    border: 1px solid var(--color-white);
    display: flex;
    justify-content: center;
    
    a {
      background-color: var(--color-black);
      color: var(--color-white);
      font-size: 16px;
      padding: 20px;
      text-decoration: none;
      display: inline-block;
      font-weight: bold;
      text-transform: capitalize;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: var(--color-white);
        color: var(--color-black);
      }
    }
  }
}
