@media (width <= 1260px) {
    #div--menu {
        bottom: 0px;
        width: 100%;

        .nav--bar {
            border:none;
            border-top: 1px solid var(--color-white);

            a {
                flex: 1;
            }
        }
    }
}
